.backdrop {
  background-color: #111;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: .75;
}

.overlay-wrapper {
  border-radius: 10px;
  height: 250px;
  width: 550px;
  position: fixed;
  top: 35%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.overlay-heading {
  font-size: 1.5rem;
  font-weight: 400;
}

.btn-group {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-top: 130px;
}

.btn-cancel {
  padding: 10px 30px;
  background-color: crimson;
  border: 2px solid crimson;
  border-radius: 9px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
}

.btn-logout {
  padding: 10px 30px;
  background-color: gold;
  border: 2px solid gold;
  border-radius: 9px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
}

.btn-cancel:hover {
  color: crimson;
  background-color: transparent;
}

.btn-logout:hover {
  color: gold;
  background-color: transparent;
}